

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f0f0f0;
}

h1, h2, h3 {
  
  font-weight: bold;
  text-align: center;

}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 20px;
  }
}







.container {
  
  margin: 0 auto;
  background-color: transparent;
  display: wrap;
}

.btn {
  background-color: #c3cbd4;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  margin: 1rem 0;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



.linkhover:hover {
  cursor: pointer;
  background-color: #ffffff;
    color: #333333;
    transform: scale(1.1);
}

/* .button:hover {
  background-color: #ffffff;
  color: #333333;
  transform: scale(1.1);
} */

/* <!-- HTML !-->
<button class="button-56" role="button">Button 56</button> */

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

  .the-bar button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
section.hero {

height: auto;
width: 100%;
display: block;
margin: 0 auto;
position: relative;
text-align: center;

}
p.subhead {
  font-size: 1rem;
  font-weight: 500;
}

.masterparent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  }
  
  .parentdiv1 { grid-area: 1 / 1 / 3 / 3; }
  .parentdiv2 { grid-area: 1 / 3 / 3 / 5; }

  /* .the-bar button {
    background-color: transparent;
    border: 0.1em solid black;
    border-radius: 1em;
    cursor: pointer;
    padding: 0.5em 1.2em;
    margin: 0.4em 0.2em;
    letter-spacing: 0.08em;
    color: black;
  } */

  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}


.grid__img {
  z-index: 1;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

.the-boxy {

  background-color: inherit;
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 0.5em 1.2em;
    margin: 0.4em 0.2em;
    letter-spacing: 0.08em;
    color: black;
}

.the-boxy1 {

  background-color: #f0f0f0;
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 0.5em 1.2em;
    margin: 0.4em 0.2em;
    
    /* color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; */
}

.the-boxy2 {

  background-color: #beb6b6;
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 0.5em 1.2em;
    margin: 0.4em 0.2em;
    
    /* display: flex; */
  justify-content: space-between;
}




/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0,0,0,.3) 50%);
}

.content {
  background-image: url('your-background-image-url');
  /* Add any other styles you want for your content container */
}